@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');


* {
  margin: 0px;
  padding: 0px;
  line-height: 100%;
  list-style-type: none;
  text-decoration: none;
  font-weight: lighter;
}

body {
  font-family: sans-serif;
}

#container {
  margin: auto;
  position: relative;
  width: 70%;
  min-width: 768px;
  background-color: #F5F5F5;
}

header {
  height: 2rem;
  padding: 3rem;
  background-color: #008b8b;
}

header h1 {
  color: white;
}

header h1 a {
  color: white;
  text-decoration: none;
  font-family: 'Noto Serif JP', sans-serif;
}

nav {
  position: relative;
  z-index: 999;
  box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu li {
  position: relative;
  flex: 1;
  text-align: center;
  background-color: #555;
}

.menu a{
  display: block;
  padding: 1rem;
  color: white;
}

.menu a:hover{
  color: #0080FF;
  background-color: white;
}

.menu li:hover .menu-child{
  visibility: visible;
  opacity: 1;
}

.menu-child {
  position: absolute;
  top: 3rem;
  left: 0px;
  width: 100%;
  box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}

.menu-child li {
  border-top: 1px dotted silver;
}

article {
  padding: 3rem;
}

article p {
  line-height: 180%;
}

article h1{
  margin-bottom: 1rem;
}

footer {
  padding: 2rem;
  text-align: center;
  background-color: #AAA;
  color: white;
}
